[Unit]
Description=A 4-20 mA probe reader over ModBus with LoRa output
After=network.target

[Service]
Type=simple
ExecStart=/bin/mb-emitter --lora-enable --poll-interval '0 * * * * *' --lora-freq 868
Restart=always

[Install]
WantedBy=multi-user.target
